<div class="container">
  <h2>ユーザー一覧</h2>

  <div class="row">
    <% @users.each do |user| %>
      <div class="col-xs-6 col-sm-3 col-md-2">
        <div class="thumbnail">
          <%= link_to profile_img100(user), user_path(user) %>
          <div class="caption">
            <h4><%= link_to user.name, user_path(user) %></h4>
            <%= render 'follow_form', user: user %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
