// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  .row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
  }
}

