<p>こんにちは <%= @resource.email %>!</p>

<p>パスワード変更リクエストがありました。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>関係ない場合はメールを無視してください。</p>
<p>リンクにアクセスしない限り、パスワードは変更されません。</p>
